html{
    background-color: #F2F4FC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: #F2F4FC;
    width: 83%;
}

.primary-default{
    background: #072ACB;
}

.text-primary-default{
    color: #1100ff;
}

.accent{
    background: #43D2FF;
}

.primary-hover{
    background: #A2D6F9;
}

.primary-hover-text{
    color: #A2D6F9;
}

.primary-tapped{
    background: #D1EDFF;
}

.neutral-dark{
    background: #292e47;
}

.text-neutral-dark{
    color: #292e47;
}

.neutral-medium{
    background: #6b708d;
}

.text-neutral-medium{
    color: #6b708d;
}

.neutral-light{
    background: #F2F4FC;
}

.neutral-light-font{
    color: #F2F4FC;
}

.neutral-lightblue{
    background: #ecf7ff;
}

.secondary{
    background: #FFC600;
}


.text{
    color: #514D67;
    font-style: normal;
}

.text-h1{
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
}



.text-h2{
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
}

.text-h3{
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.text-h3-1{
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}



.text-h4{
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.text-body-medium{
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.text-body-regular{
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.headline-medium{
    font-size: 17px;
    font-weight: 500;
    line-height: 130%;
}

.headline-regular{
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
}

.caption1{
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}

.caption2{
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.circle-logo{
    width: 60px;
    height: 18px;
}

.contact-button{
    width: 150px;
    height: 52px;
}

.hero-image{
    background-image:url("project-assets/hero-section/hero-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.hero-card-image{
    position: relative;
    top: 10%;
    left: -20%;
    max-width: 65%;
    max-height: 65%;
}

.hero-second-card-image{
    position: relative;
    top: 10%;
    left: 50%;
    width: 65%;
    max-height: 65%;
}

.grey-img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    filter: gray;
}

.fit-img{
    width: 100%;
    height: 60%;
}
.card-bottom{
    background: #ffffff;
    width: 100%;
    height: 40%;
}

.client-quote{
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    color: #FFC600;
}


.testimonial-client-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client-container{
    display: flex;
    gap: 6px;
}

.testimonial-emoji{
    width: 100%;
    height: 100%;
}

.big-gap{
    gap: 150px;
}





.testimonial-container{
    padding-top: 30px;
    padding-bottom: 30px;
}

.blue-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #A2D6F9;
}

.service-images{
    width: 50%;
    height: 50%;
}

.service-card-width{
    width: 400px;
}

.py-15{
    padding-top: 50px;
    padding-bottom: 50px;
}

.subscribe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 50%;
    padding-top: 125px;
    padding-bottom: 125px;
}

.subscribe-input-container{
    position: relative;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.subscribe-input{
    height: 70px;
    width: 400px;
    border: none;
    padding: 5px 10px 5px 50px;
    display: block;
    outline: 0;
}

.subscribe-btn{
    border: none;
    width: 200px;
    height: 100%;
}

.input-mail-icon{
    display: flex;
    position: absolute;
    top:20px;
    left:10px;
}


  
.footer-action-container{
    display: flex;
    flex-direction: column;
    gap:50px;
}

.footer-action-row{
    display: flex;
    justify-content: flex-start;
    gap:120px;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pt-55{
    padding-top: 55px;
}

.footer-logo{
    width:100px;
    height: 30px;
}

@media all and (max-width: 999px) {
    .text-h1 {
      font-size: 40px;
    }
    .text{
        text-align: center;
    }
    .service-card-width{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-action-row{
        justify-content: center;
        gap:35px;
    }
    .footer-action-container{
        gap:15px;
    }
    .footer-logo{
        align-self: center;
    }
  }

@media all and (max-width: 770px){
    .testimonial-emoji{
        max-width: 50%;
        height: 100%;
    }
    .big-gap{
        gap: 15px;
    }
    .subscribe-input{
        width: 70%;
        font-size: 10px;
    }
    .subscribe-btn{
        font-size: 10px;
        border: none;
        width: 30%;
        height: 100%;
    }
    .contact-button{
        height: 100%;
    }
}